@import "../general.scss";
@import "../Header.scss";

$string: "display-regular";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include fonts($string);
}

ul,
li {
  list-style: none;
}

body {
  width: 100%;

  main {
    section {
      .about-company_top {
        .video {
          position: relative;
          width: 100%;
          height: 80%;
          video {
            width: 100%;
            height: 80%;
          }
          img {
            position: absolute;
            top: 20px;
            right: 40px;

            @media screen and (max-width: 800px) {
              width: 30rem;
            }
            @media screen and (max-width: 400px) {
              width: 15rem;
            }
          }

          h1 {
            color: $color-primary;

            font-size: 4.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            @media screen and (max-width: 1200px) {
              font-size: 4rem;
            }
            @media screen and (max-width: 800px) {
              font-size: 3rem;
            }
            @media screen and (max-width: 400px) {
              font-size: 1rem;
            }
            span {
              font-size: 6rem;
              @media screen and (max-width: 1200px) {
                font-size: 5rem;
              }
              @media screen and (max-width: 800px) {
                font-size: 4rem;
              }
              @media screen and (max-width: 400px) {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
    section {
      .ea-store {
        background-image: url(../../images/Header/new/ea-about-sectionbg-xl.jpg.adapt.1920w.jpg);
        width: 100vw;
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (max-width: 800px) {
          background-image: url(../../images/Header/new/ea-about-20w.jpg);
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          @media screen and (max-width: 800px) {
            margin-top: 3rem;
          }

          &-in {
            width: 50%;

            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-around;

            @media screen and (max-width: 600px) {
              margin-top: 48rem;
            }
            h1 {
              font-size: 6rem;
              @media screen and (max-width: 1200px) {
                font-size: 3rem;
              }
              @media screen and (max-width: 600px) {
                font-size: 1.5rem;
              }
              @media screen and (max-width: 900px) {
                font-size: 2rem;
              }
            }
            p {
              font-size: 1.5rem;
              color: $border-grey;
              font-weight: 400;
              @media screen and (max-width: 1200px) {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
    section {
      .about-our {
        margin-top: 30rem;
        width: 100%;
        height: 100%;
        display: flex;
        font-size: 1.5rem;

        @media screen and (max-width: 600px) {
          font-size: 0.8rem;
          flex-direction: column;
        }
        p {
          margin-top: 2rem;
        }
        .links {
          margin-top: 1rem;

          a {
            color: $color-secondary;

            margin-right: 1rem;
          }
        }

        .first-column {
          padding: 4rem;

          flex: 50%;
        }
        .second-column {
          padding: 4rem;
          flex: 50%;
        }
      }
    }
  }
}
#question {
  display: none;
  position: absolute;
  top: 4%;
  width: 100%;
  height: 50vh;
  background-color: $color-secondary;
  z-index: 999;
  padding-bottom: 6rem;

  .user-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    &__need-help {
      font-size: 2ch;
      font-weight: 600;
      height: 2ch;
      color: $color-primary;
    }

    .button-cover {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 0 3rem;
      width: 100%;
      height: 100%;
      margin-top: 2rem;

      &__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 40%;
        height: 50%;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-5px);
          cursor: pointer;
        }

        svg {
          width: 3rem;
          height: 3rem;
        }

        p {
          text-align: center;
          font-size: 1.3rem;
          margin: 0;
          color: $color-primary;
        }

        @media (max-width: 920px) {
          flex-direction: row;
          justify-content: start;
          width: 21rem;
        }
      }
    }

    @media (max-width: 650px) {
      height: 10rem;
    }
  }
  span {
    flex-wrap: wrap;
    color: $color-primary;
    position: absolute;
    bottom: 2rem;
    font-size: 2ch;
    text-align: center;
    padding: 0 1rem;

    a {
      color: $color-tertiary;

      &:hover {
        color: red;
        @include button($color: #583232);
        border: none;
      }
    }

    @media (max-width: 350px) {
      bottom: 1rem;
    }
  }
  .close {
    width: 100%;
    height: 15%;

    svg {
      position: absolute;
      right: 3rem;
      top: 3rem;
      width: 1rem;
      height: 1rem;
      fill: #ffffff;
    }
    @media screen and (max-width: 900px) {
      height: 5%;
    }
  }
}

.contex {
  display: none;
  position: absolute;
  top: 4%;
  width: 100%;
  height: 50vh;
  background-color: $color-secondary;
  z-index: 11;

  .user-buttons {
    width: 2rem;
    height: 20rem !important;
    display: flex;
    justify-content: center;
    gap: 15rem;
    align-items: center;

    @media screen and (max-width: 750px) {
      justify-content: start;
      padding-left: 4rem;
    }

    @media screen and (max-width: 550px) {
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      justify-content: center;
      padding-left: 18%;
    }

    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background-color: $color-secondary;
      border: none;

      svg {
        width: 3rem;
        height: 3rem;
        &:hover {
          transition: all 0.5s ease-in;
          width: 4rem;
          height: 4rem;
        }
      }

      p {
        color: white;
        font-size: 1.2rem;
      }

      @media screen and (max-width: 750px) {
        flex-direction: row;
      }
    }
  }

  .close {
    width: 25%;
    height: 10%;
    padding-top: -4rem;

    svg {
      position: absolute;
      right: 3rem;
      top: 3rem;
      width: 1rem;
      height: 1rem;
      fill: white;
    }
  }
  .user-buttons {
    width: 100%;
    height: 6rem;
    img {
      width: 6rem;
      height: 6rem;
    }
  }
}

#header__main {
  position: relative;

  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .main-nav {
      background-color: $color-secondary;
      height: 2.5rem;
      width: 100%;

      .main-nav_items {
        display: flex;
        justify-content: flex-end;
        gap: 0.9rem;
        margin-top: 0.7rem;
        margin-right: 0.5rem;
        @media only screen and (max-width: 293px) {
          width: 100vw;
          height: 100%;
        }

        li {
          margin-right: 1.8rem;

          svg {
            fill: grey;
            width: 1.2rem;
            height: 1.2rem;
            &:hover {
              cursor: pointer;
              fill: white;
              transition: fill 0.5s ease-out;
            }
          }
        }

        button {
          color: $color-primary;
          background-color: $color-secondary;
          width: 1.3rem;
          height: 1.1rem;
          font-size: 1.2rem;
          border: none;
        }

        img {
          filter: invert(39%) sepia(5%) saturate(97%) hue-rotate(169deg)
            brightness(93%) contrast(89%);
          width: 2rem;
          height: 1rem;
        }
      }

      &__inner {
        background-color: white;
        height: 4rem;

        &-items {
          display: flex;
          align-items: center;
          height: 75%;
          justify-content: flex-start;

          @media only screen and (max-width: 293px) {
            width: 100%;
            height: 100%;
          }

          @media only screen and (max-width: 1032px) {
            li {
              display: flex;

              svg {
                display: block;
                width: 1.2rem;
                height: 1.2rem;
                align-self: center;
                margin-top: 0.8rem;
                margin-left: 2rem;
              }
              button {
                display: none;
              }
              img {
                padding-left: 2rem;
                width: 80%;
              }
            }
          }

          li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 2rem;

            img {
              margin-top: 0.8rem;
            }
            button {
              align-self: start;
              height: 1.2rem;
              margin: 0.8rem;
              border: none;
              font-size: 1.2rem;
              position: relative;
              background-color: inherit;

              &:hover {
                div {
                  visibility: visible;
                }
              }

              i {
                transition: all 0.3s ease;
              }

              svg {
                display: none;
              }
              @include fonts("text-light");

              transition: color 0.3s ease;
              .fa-light {
                display: none;
              }

              .fa-ellipsis-vertical {
                transition: font-size 0.5s ease-out;
                padding-right: 2rem;
              }

              div {
                position: fixed;
                top: 5.6rem;
                display: flex;
                width: max-content;
                height: auto;
                z-index: 10;
                visibility: hidden;

                ul {
                  padding: 1.5rem 2.8rem 2rem 2.8rem;
                  display: flex;
                  gap: 0.5rem;
                  flex-direction: column;
                  justify-content: start;

                  h3 {
                    @include fonts("text-bold");
                    color: $color-secondary;
                    text-decoration: underline;
                    text-underline-offset: 1rem;
                    text-decoration-thickness: 0.2rem;
                    margin-bottom: 1rem;
                    font-size: 1.2rem;
                    text-decoration-color: $border-light-grey;
                  }

                  li {
                    color: $color-secondary;

                    &:hover {
                      color: $color-tertiary;
                    }
                  }
                }
              }

              &:hover {
                @include hover($color-tertiary);

                .fa-ellipsis-vertical {
                  font-size: 1.3rem;
                }

                .fa-sharp {
                  transform: rotate(180deg);
                  -webkit-transform: rotate(180deg);
                }

                div {
                  display: flex;
                  background-color: rgba(243, 243, 243, 0.95);
                  border-radius: 0.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
