@use '../general.scss' as vars;

.sections-bg {
    background-image: url('../../images/AboutCompany/Background-Image.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.AC-section-three {
    @include vars.fonts();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: vars.$color-secondary;

    h2 {
        font-size: 3.5rem;
        color: white;
    } 

    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        .section-three__card {
            height: 26rem;

            &-description {
                padding: 0.5rem;
            }
        }

        h3 {
            text-align: center;
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 800px) {
    .AC-section-three {
        height: auto;

        h2 {
            font-size: 3rem;
        } 

        &__cards {
            margin: 0;
            gap: 1.2rem;

            .section-three__card {
                height: auto;
                padding: 0;
                padding-bottom: 2rem;

                &-image {
                    width: 100%;
                    display: block;

                    img {
                        width: 100%;
                        height:auto;
                    }
                }
            }

            h3 {
                font-size: 1.5rem;
            }
        }
    }
}

@media (max-width: 320px) {
    .AC-section-three {
        h2 {
            font-size: 2rem;
        } 

        &__cards {
            h3 {
                font-size: 1rem;
            }
        }
    }
}

.dark {
    .AC-section-three {
        &__cards {
            color: white;
        }
    }
}