@charset "UTF-8";
@font-face {
  font-family: "ElectronicArtsTextRegular";
  src: url("../fonts/ElectronicArtsText-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "ElectronicArtsTextBold";
  src: url("../fonts/ElectronicArtsText-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "ElectronicArtsTextLight";
  src: url("../fonts/ElectronicArtsText-Light.woff2") format("woff2");
}
@font-face {
  font-family: "ElectronicArtsDisplayBold";
  src: url("../fonts/ElectronicArtsDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "ElectronicArtsDisplayRegular";
  src: url("../fonts/ElectronicArtsDisplay-Regular.woff2") format("woff2");
}
* {
  color-scheme: light dark;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ElectronicArtsDisplayRegular", sans-serif;
}

ul,
li {
  list-style: none;
}

body {
  width: 100%;
}

#question {
  display: none;
  position: absolute;
  top: 2.5rem;
  width: 100%;
  height: 50vh;
  background-color: #161616;
  z-index: 999;
  padding-bottom: 6rem;
}
#question .user-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
#question .user-buttons__need-help {
  font-size: 2ch;
  font-weight: 600;
  height: 2ch;
  color: #f3f3f3;
}
#question .user-buttons .button-cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 3rem;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}
#question .user-buttons .button-cover__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 40%;
  height: 50%;
  transition: all 0.3s ease;
}
#question .user-buttons .button-cover__button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
#question .user-buttons .button-cover__button svg {
  width: 3rem;
  height: 3rem;
}
#question .user-buttons .button-cover__button p {
  text-align: center;
  font-size: 1.3rem;
  margin: 0;
  color: #f3f3f3;
}
@media (max-width: 920px) {
  #question .user-buttons .button-cover__button {
    flex-direction: row;
    justify-content: start;
    width: 21rem;
  }
}
@media (max-width: 650px) {
  #question .user-buttons {
    height: 10rem;
  }
}
#question span {
  flex-wrap: wrap;
  color: #f3f3f3;
  position: absolute;
  bottom: 2rem;
  font-size: 2ch;
  text-align: center;
  padding: 0 1rem;
}
#question span a {
  color: #FF4747;
}
#question span a:hover {
  color: red;
  background: none;
  color: #583232;
  border: 2px solid #583232;
  border-radius: 0.3rem;
  width: 11.5rem;
  height: 4.3rem;
  font-size: 1.3rem;
  border: none;
}
#question span a:hover:hover {
  cursor: pointer;
  color: #583232;
  background-color: none;
  width: 12rem;
  height: 4.8rem;
  transition: all 0.1s ease-out;
}
@media (max-width: 630px) {
  #question span a:hover {
    width: 80%;
    margin-top: -0.5rem;
  }
  #question span a:hover:hover {
    cursor: pointer;
    color: #583232;
    background-color: none;
    width: 82%;
    height: 4.8rem;
    transition: all 0.1s ease-out;
  }
}
@media (max-width: 350px) {
  #question span {
    bottom: 1rem;
  }
}
#question .close {
  width: 5%;
  height: 5%;
  display: flex;
  position: absolute;
  right: 2rem;
  top: 3rem;
}
#question .close svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}
#question .close:hover {
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  #question .close {
    height: 5%;
  }
}

.vertical-line {
  display: none;
  width: 20rem;
  height: 100vh;
  position: absolute;
  z-index: 9;
  top: 2.5rem;
  background-color: white;
}
.vertical-line .vertical-in {
  display: flex;
  flex-direction: column;
}
.vertical-line .vertical-in .vertical-in__logo {
  background-color: #f3f3f3;
  flex-direction: row;
  display: flex;
  height: 4rem;
}
.vertical-line .vertical-in .vertical-in__logo img {
  flex: 75%;
  padding: 0px 26px;
}
.vertical-line .vertical-in .vertical-in__logo button {
  background-color: transparent;
  color: #161616;
  flex: 7%;
  border-radius: 48px;
  margin: 12px 11px;
}
.vertical-line .vertical-in .vertical-in__logo button:hover {
  cursor: pointer;
}
.vertical-line .vertical-in .vertical-in__text {
  display: flex;
  flex-direction: column;
  font-size: 19px;
}
.vertical-line .vertical-in .vertical-in__text .button {
  max-height: 100%;
  padding: 0px 0.5rem;
}
.vertical-line .vertical-in .vertical-in__text .button .button-btn:hover {
  cursor: pointer;
  color: #FF4747;
  background-color: none;
}
.vertical-line .vertical-in .vertical-in__text .button .button-btn::after {
  content: "^";
  font-size: 2rem;
}
.vertical-line .vertical-in .vertical-in__text .button .active-header::after {
  content: "˅";
}
.vertical-line .vertical-in .vertical-in__text .button button {
  width: 100%;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 6px;
  border: none;
  border-bottom: 1px solid rgb(58, 55, 55);
  background-color: transparent;
  color: #161616;
  padding: 0.5rem;
}
.vertical-line .vertical-in .vertical-in__text .button div {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease max-height;
}
.vertical-line .vertical-in .vertical-in__text .button div ul li {
  font-size: 20px;
  line-height: 3rem;
  color: #474646;
  border-bottom: 1px solid rgb(58, 55, 55);
  padding-left: 2rem;
}
.vertical-line .vertical-in .vertical-in__text .button div ul li a {
  text-decoration: none;
  color: #474646;
}
.vertical-line .vertical-in .vertical-in__text .button div ul li a:hover {
  cursor: pointer;
  color: #FF4747;
  background-color: none;
}
.vertical-line .vertical-in .vertical-in__text .button div ul li:hover {
  cursor: pointer;
  color: #FF4747;
  background-color: none;
}

.contex {
  display: none;
  position: absolute;
  top: 2.5rem;
  width: 100%;
  height: 50vh;
  background-color: #161616;
  z-index: 11;
}
.contex .user-buttons {
  width: 2rem;
  height: 20rem !important;
  display: flex;
  justify-content: center;
  gap: 15rem;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .contex .user-buttons {
    justify-content: start;
    padding-left: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .contex .user-buttons {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 18%;
  }
}
.contex .user-buttons button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #161616;
  border: none;
}
.contex .user-buttons button svg {
  width: 3rem;
  height: 3rem;
}
.contex .user-buttons button svg:hover {
  cursor: pointer;
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}
.contex .user-buttons button p {
  color: white;
  font-size: 1.2rem;
}
@media screen and (max-width: 750px) {
  .contex .user-buttons button {
    flex-direction: row;
  }
}
.contex .close {
  width: 5%;
  height: 5%;
  display: flex;
  position: absolute;
  right: 2rem;
  top: 3rem;
}
.contex .close:hover {
  cursor: pointer;
}
.contex .close svg {
  width: 100%;
  height: 100%;
  fill: white;
}
.contex .user-buttons {
  width: 100%;
  height: 6rem;
}
.contex .user-buttons img {
  width: 6rem;
  height: 6rem;
}

.black {
  display: none;
  position: fixed;
  top: -4.2rem;
  width: 100%;
  height: 150vh;
  background-color: rgba(36, 34, 34, 0.7);
  z-index: 1;
}

.aside {
  display: none;
  width: 25rem;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 2.5rem;
  z-index: 2;
  overflow: scroll;
}
@media only screen and (max-width: 670px) {
  .aside {
    width: 100%;
    height: 100vh;
  }
}
.aside::-webkit-scrollbar {
  display: none;
}
.aside .allgames {
  width: 90%;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}
.aside .allgames p {
  flex: 50%;
  font-weight: 600;
  font-size: 1.5rem;
  color: #a3a3a3;
}
.aside .allgames p:hover {
  color: #FF4747;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.aside .allgames i {
  font-size: 1rem;
  padding-left: 6vw;
  color: #161616;
}
.aside .allgames i:hover {
  color: #FF4747;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.aside .first-image {
  background-image: url("https://media.contentapi.ea.com/content/dam/gin/images/2021/04/ea-play-16x9-png.adapt.crop1x1.767w.");
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32%;
  margin: 3rem auto 1rem auto;
  background-size: cover;
  position: relative;
}
.aside .first-image:hover {
  cursor: pointer;
}
.aside .first-image:hover svg {
  width: 36%;
  height: 36%;
}
.aside .first-image svg {
  width: 30%;
  height: 30%;
  transition: all 0.2s ease-in;
}
.aside .second {
  width: 100%;
  height: 32rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.aside .second .flex1,
.aside .second .flex2,
.aside .second .flex3,
.aside .second .flex4,
.aside .second .flex5,
.aside .second .flex6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  margin: 1rem;
}
@media (max-width: 670px) {
  .aside .second .flex1,
.aside .second .flex2,
.aside .second .flex3,
.aside .second .flex4,
.aside .second .flex5,
.aside .second .flex6 {
    width: 40%;
    height: 40%;
  }
}
@media (max-width: 270px) {
  .aside .second .flex1,
.aside .second .flex2,
.aside .second .flex3,
.aside .second .flex4,
.aside .second .flex5,
.aside .second .flex6 {
    width: 100%;
    height: 40%;
  }
}
.aside .second .flex1:hover,
.aside .second .flex2:hover,
.aside .second .flex3:hover,
.aside .second .flex4:hover,
.aside .second .flex5:hover,
.aside .second .flex6:hover {
  cursor: pointer;
}
.aside .second .flex1:hover img,
.aside .second .flex2:hover img,
.aside .second .flex3:hover img,
.aside .second .flex4:hover img,
.aside .second .flex5:hover img,
.aside .second .flex6:hover img {
  width: 55%;
  height: 55%;
}
.aside .second .flex1 img,
.aside .second .flex2 img,
.aside .second .flex3 img,
.aside .second .flex4 img,
.aside .second .flex5 img,
.aside .second .flex6 img {
  width: 50%;
  height: 50%;
  transition: all 0.2s ease-in;
}
.aside .second .flex1 {
  background-image: url(../images/Header/new/7.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.aside .second .flex2 {
  background-image: url(../images/Header/new/1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.aside .second .flex3 {
  background-image: url(../images/Header/new/3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.aside .second .flex4 {
  background-image: url(../images/Header/new/4.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.aside .second .flex5 {
  background-image: url(../images/Header/new/5.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.aside .second .flex6 {
  background-image: url(../images/Header/new/6.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#header__main {
  position: relative;
}
#header__main .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#header__main .content .main-nav {
  background-color: #161616;
  height: 2.5rem;
  width: 100%;
}
#header__main .content .main-nav .main-nav_items {
  display: flex;
  justify-content: flex-end;
  gap: 0.9rem;
  margin-top: 0.7rem;
  margin-right: 0.5rem;
}
@media only screen and (max-width: 293px) {
  #header__main .content .main-nav .main-nav_items {
    width: 100vw;
    height: 100%;
  }
}
#header__main .content .main-nav .main-nav_items li {
  margin-right: 1.8rem;
}
#header__main .content .main-nav .main-nav_items li svg {
  fill: grey;
  width: 1.2rem;
  height: 1.2rem;
}
#header__main .content .main-nav .main-nav_items li svg:hover {
  cursor: pointer;
  fill: white;
  transition: fill 0.5s ease-out;
}
#header__main .content .main-nav .main-nav_items button {
  color: #f3f3f3;
  background-color: #161616;
  width: 1.3rem;
  height: 1.1rem;
  font-size: 1.2rem;
  border: none;
}
#header__main .content .main-nav .main-nav_items img {
  filter: invert(39%) sepia(5%) saturate(97%) hue-rotate(169deg) brightness(93%) contrast(89%);
  width: 2rem;
  height: 1rem;
}
#header__main .content .main-nav__inner {
  background-color: white;
  height: 4rem;
}
#header__main .content .main-nav__inner-items {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
}
@media only screen and (max-width: 293px) {
  #header__main .content .main-nav__inner-items {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1032px) {
  #header__main .content .main-nav__inner-items li {
    display: flex;
  }
  #header__main .content .main-nav__inner-items li span {
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
  }
  #header__main .content .main-nav__inner-items li span:hover {
    cursor: pointer;
  }
  #header__main .content .main-nav__inner-items li svg {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    align-self: center;
    margin-top: 0.4rem;
  }
  #header__main .content .main-nav__inner-items li button {
    display: none;
  }
  #header__main .content .main-nav__inner-items li img {
    padding-left: 2rem;
    width: 80%;
  }
}
#header__main .content .main-nav__inner-items li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
#header__main .content .main-nav__inner-items li button {
  color: #161616;
  align-self: start;
  height: 100%;
  margin: 0 0.8rem;
  border: none;
  font-size: 1.2rem;
  position: relative;
  background-color: inherit;
  font-family: "ElectronicArtsTextLight", sans-serif;
  transition: color 0.3s ease;
}
#header__main .content .main-nav__inner-items li button:hover div {
  visibility: visible;
}
#header__main .content .main-nav__inner-items li button i {
  transition: all 0.3s ease;
}
#header__main .content .main-nav__inner-items li button svg {
  display: none;
}
#header__main .content .main-nav__inner-items li button .fa-light {
  display: none;
}
#header__main .content .main-nav__inner-items li button .fa-ellipsis-vertical {
  transition: font-size 0.5s ease-out;
  padding-right: 2rem;
}
#header__main .content .main-nav__inner-items li button div {
  position: fixed;
  top: 6.6rem;
  display: flex;
  width: max-content;
  height: auto;
  z-index: 10;
  visibility: hidden;
}
#header__main .content .main-nav__inner-items li button div ul {
  padding: 1.5rem 2.8rem 2rem 2.8rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: start;
}
#header__main .content .main-nav__inner-items li button div ul h3 {
  font-family: "ElectronicArtsTextBold", sans-serif;
  color: #161616;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-decoration-color: #eaeaea;
}
#header__main .content .main-nav__inner-items li button div ul li {
  color: #161616;
}
#header__main .content .main-nav__inner-items li button div ul li a {
  text-decoration: none;
  color: #161616;
}
#header__main .content .main-nav__inner-items li button div ul li a:hover {
  color: #FF4747;
}
#header__main .content .main-nav__inner-items li button div ul li:hover {
  color: #FF4747;
}
#header__main .content .main-nav__inner-items li button:hover {
  cursor: pointer;
  color: #FF4747;
  background-color: none;
}
#header__main .content .main-nav__inner-items li button:hover .fa-ellipsis-vertical {
  font-size: 1.3rem;
}
#header__main .content .main-nav__inner-items li button:hover .fa-sharp {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
#header__main .content .main-nav__inner-items li button:hover div {
  display: flex;
  background-color: rgba(243, 243, 243, 0.95);
  border-radius: 0.4rem;
}

main .first-section {
  height: 40rem;
}
main .first-section .image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("../images/Header/Section-one-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media only screen and (max-width: 765px) {
  main .first-section .image-box {
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    padding-bottom: 1rem;
    background-image: url("../images/Header/Section one background (Small devices).jpg");
  }
  main .first-section .image-box button {
    margin-left: 0 !important;
  }
}
main .first-section .image-box button {
  background: none;
  color: #f3f3f3;
  border: 2px solid #f3f3f3;
  border-radius: 0.3rem;
  width: 11.5rem;
  height: 4.3rem;
  font-size: 1.3rem;
  margin-left: 20%;
}
main .first-section .image-box button:hover {
  cursor: pointer;
  color: #f3f3f3;
  background-color: none;
  width: 12rem;
  height: 4.8rem;
  transition: all 0.1s ease-out;
}
@media (max-width: 630px) {
  main .first-section .image-box button {
    width: 80%;
    margin-top: -0.5rem;
  }
  main .first-section .image-box button:hover {
    cursor: pointer;
    color: #f3f3f3;
    background-color: none;
    width: 82%;
    height: 4.8rem;
    transition: all 0.1s ease-out;
  }
}

.dark .aside {
  background-color: #161616;
}
.dark .aside .allgames i {
  color: white;
}
.dark .vertical-line {
  background-color: #221f1f;
}
.dark .vertical-line .vertical-in .vertical-in__logo {
  background-color: #ddd2d2;
}
.dark .vertical-line .vertical-in .vertical-in__text .button button {
  color: white;
}
.dark .vertical-line .vertical-in .vertical-in__text .button div ul li {
  color: white;
}
.dark .vertical-line .vertical-in .vertical-in__text .button div ul li a {
  color: white;
}
.dark #header__main .content .main-nav__inner {
  background-color: #ddd2d2;
}

/*# sourceMappingURL=Header.css.map */
